/************TAG SELECTORS ************/
h1 
{
    color: black; 
    font-size: 30px
}

img:hover
{
    background-color: #F8F988;
}


/***************CLASS SELECTORS*******************/
.bacon
{
    background-color: red;
}
.brocolli
{
    background-color: green;
}
.circular
{
    border-radius: 100%;
}
/***************ID SELECTORS*******************/
#heading
{
    color: green;
}