/*last priority from the external css for background color*/
body
{
    background-color:#DBA39A ;
}
hr
{
    
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    
    width: 20%;
}
h1
{
    color: #181D31;
}
h3
{
    color: #181D31;
}