/************TAG SELECTORS ************/
h1 
{
    color: black; 
    font-size: 30px
}
/*
img
{
    background-color: red;
}
*/

/***************CLASS SELECTORS*******************/
.bacon
{
    background-color: red;
}
.brocolli
{
    background-color: green;
}
/***************ID SELECTORS*******************/
#heading
{
    color: blue;
}