body
{
    margin: 0px;
}
.container
{
    position: relative;
    background-color: grey;
    height: 300px;
    width: 300px;
}
.top-container
{
    height: 100px;
    width: 100px;
    background-color:red;
    position: absolute;
    right: 20px;

}
.middle-container
{
    height: 100px;
    width: 100px;
    background-color:blue;
    position: relative;
}

.bottom-container
{
    height: 100px;
    width: 100px;
    background-color:yellow;
    position: relative;

}